<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop">
	    <ul>
      {% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		  {% endfor %}
        {% if site.search %}<li class="dosearch"><span><i class="fa fa-search"></i> Search</span></li>{% endif %}
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

{% include browser-upgrade.html %}

{% if site.search %}{% include site-search.html %}{% endif %}

{% if page.index %}<header class="masthead">
		<div class="wrap entry-header">
			{% if page.index.image != null %}
			<img src="{{ site.url }}/images/{{ page.index.image }}" style="height: 175px;" alt="{{ page.title }} logo" class="animated bounceInDown" />
			{% endif %}
			<h1 class="entry-title animated fadeIn">{{ page.title }}</h1>
		</div>

</header><!-- /.masthead -->
{% elsif page.layout == "page" %}<header class="masthead">
	<div class="wrap">
        <h1 class="site-title animated fadeIn"><a href="{{ site.url }}/">{{ site.title }}</a></h1>
		<h2 class="site-description animated fadeIn" itemprop="description">{{ site.description }}</h2>

		<div class="wrap animated bounceIn" style="margin-bottom: 25px;">
			{% if author.avatar contains 'http' %}
			<img src="{{ author.avatar }}" class="bio-photo" style="margin: auto;" alt="{{ author.name }} bio photo"></a>
			{% else %}
			<img src="{{ site.url }}/images/{{ author.avatar }}" class="bio-photo" style="margin: auto;" alt="{{ author.name }} bio photo"></a>
			{% endif %}
		</div>

	</div>
</header><!-- /.masthead -->{% endif %}

<div class="js-menu-screen menu-screen"></div>